@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site.css" />


<div class="container_all">
    <div class="hero">
        <div class="left">
            <div class="center">
                <span >Our collection</span>
                <p>Buy our collection of car</p>
                <button>Shop now</button>
            </div>
        </div>
        <div class="right">
            <div class="image">
                
            </div>
        </div>
    </div>
</div>
